body {
    margin: 0;
    padding: 0;
}
body:before{
    content: '';
    position: fixed;
    width: 100vw;
    height:100vh;
    background-image: url(p11.jpg);
    background-position: center center ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size:cover;
    background-size: cover;
    -webkit-filter: blur(10px);
    -moz-filter:blur(10px);
}
.contact-form {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%) ;
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform:translate(-50%,-50%) ;
    width: 300px;
    height: 550px;
    padding: 80px 40px;
    background: rgba(0, 0, 0, 0.6);
}

.avatar{
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    top:calc(-80px/2);
    left:calc(50% - 40px);
}

.contact-form h1{
    margin: 0;
    padding: 0 0 20px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}

.contact-form p{
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 20px;
    color:#fff ;
}

.contact-form input{
    width: 100% ;
    margin-bottom: 20px;
}

.contact-form input[type="text"],
.contact-form input[type="password"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 35px;
    color: #fff;
    font-size: 15px;
}

.contact-form input[type="submit"]{
    height: 30px;
    color: #fff;
    font-size: 15px;
    background: red;
    cursor: pointer;
    border-radius: 25px;
    border: none;
    outline: none;
    margin-top: 15%;
}

input[type=checkbox]{
    width:20px;
}
a:link{
    color: rgb(20, 3, 66);
}
a:active{
    color: rgb(7, 5, 92);
}
a{
    color: rgb(8, 8, 233);
}